.App {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.container-inputs {
  display: flex;
  justify-content: space-evenly;
}

.container-inputs .inputs {
  margin-top: 20px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mocks {
  margin-top: 20px;
}
